{% load static %}
<!DOCTYPE html>
<html lang="en">
<head>
    <title>
        {{ recipe_object.title }} - 
        Scrumptious Recipes
    </title>
    <link rel="stylesheet" href="{% static "css/recipes.css" %}">
</head>
<body class="body"> 
    <header>
        <nav>
            <a href="{% url 'recipe_list' %}">Main page</a>
            <a href="{% url 'edit_recipe' recipe_object.id %}">Edit</a>
        </nav>
    </header>
    <main class="main"> 
        <h1>{{ recipe_objects.title }}</h1>
        <img class="img" src="{{ recipe_object.picture }}">
        <div>4.3 stars</div>
        <p>{{ recipe_object.description }}</p>
        <h2>Ingredients</h2>
        <table class="ingredients-table">
            <thead>
                <tr>
                    <th>Amount</th>
                    <th>Food Item</th>
                </tr>
            </thead>        
            <tbody>
                {% for ingredient in recipe_object.ingredients.all %}
                    <tr>                
                        <td>{{ ingredient.amount }}</td>
                        <td>{{ ingredient.food_item }}</td>  
                    </tr>          
                {% endfor %}
            </tbody>
        </table>
        <h2>Steps</h2>
        <ol>
            {% for step in recipe_object.steps.all %}
                <li>{{ step.instruction }}</li>
            {% endfor %}
        </ol>
        <footer class="footer">Made with love by Scrumptious Recipes</footer>
    </main>
</body>
</html>