{% load static %}
<!DOCTYPE html>
<html lang="en">
<head>
    <title>
        {{ recipe_object.title }} - 
        Scrumptious Recipes
    </title>
    <!-- <link rel="stylesheet" href="recipies.css"> -->
    <link rel="stylesheet" href="{% static 'css/recipes.css' %}">
</head>
<body class="body"> 
    <header>
        <nav>
            <a href="{% url 'recipe_list' %}">Main page</a>
        </nav>
    </header>
    <main class="main"> 
        <form method="post">
            {% csrf_token %}
            {{ form.as_p }}
            <button>Edit</button>
          </form>
    </main>
</body>
</html>